body {
    margin: 0;
}

.background-header {
    background-image: linear-gradient(#909090 80%, #ababab); 
    height: 105px;
    width: 100%;
    position: absolute;
    top: 0px;
}

.container {
     width: 900px;
     margin: 0 auto;
 }

 .logo {
    position: relative;
    margin-top: 3%;
    float: right;
}
.input{
    background-image: url(images/search_input.png);
    float: right;
    width: 132px;
    height: 19px;
}
.input input{
    position: relative;
    right: 4px;
    width: 126px;
    background: transparent;
    border: 0 none;
    text-align: right;
}
.search {
    position: absolute;
    top: 20px;
}
.search-icon{
    width:19px;
    height: 19px;
    float: left;
    background-image: url(images/search_button.png);
}
.search p {
    display: inline-block;
    float: right;
    margin: 0px 0px 0px 10px;
    color: white;
}

.container .header ul{
    position: relative;
    top:55px;
    height: 35px;
    margin-right: 145px;
}
.container .header li {
    list-style: none;
    display: block;
    float: right;
    position: relative;
    height: 100%;
    color: white;
    margin: 0px 0px 0px 5px;
    font-size: 15px;
    font-weight: bold;
}
#home-tab {
    width: 17px;
    background: url(images/menu_home.png) no-repeat 0 top;
    display: block;
    height: 17px;
    background-position: -17px top;
}
.container .header li.sep {
    width: 4px;
    height: 21px;
    background: url(images/menu_sep.png) no-repeat 0 0px;
    margin: 0 16px;
}
.container .header ul li ul  {
    display: none;
    position: absolute;
    background-color: #909090;
    align-self: auto;
    z-index: 200;
    top: 33px;
    width: 75px;
    right: -18px;
    margin-right: 0px;
    height: auto;
    text-align: right;
    padding: 5px;
}
.container .header ul li ul li  {
    float: none;
    padding: 0 8px;
    cursor: pointer;
}
.container .header ul li ul li:hover {
    background-color: #bcbcbc;
}

.container .header li:hover ul{
    display: block;
}
.container .header ul li a{
    color: white;
    text-decoration: none;
}
.container .header ul li a:hover{
    color: #005CA0;
    text-decoration: underline;
}
.container .header li ul li.sep{
    padding: 0px;
    background: url(images/menu_dropdown_sep.png);
    height: 1px;
    margin: 0px;
    width: 100%;
    height: 3px;
}
.container .header ul li ul li {
    float: none;
    padding: 0 8px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}